.align-right{
	text-align: right;
	padding-right: 10px;
}

.list-card{
	margin-bottom: 10px;
}

.view_links{
	padding: 5px;
}

.view-all-btn{
	margin-bottom: 5px;
}

.list-card-text{
	max-height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}